/W14/build
/W14/target
/W14/JSF31KochFractalFX-startup (1).iml
/W14/JSF31KochFractalFX-startup.iml
/W13/build
/W13/target
/W13/Application.iml
/W13/JSF31KochFractalFX-startup.iml
/W14/.idea
/W15-1/.idea
/W15-1/target
/W15-1/JSF31KochFractalFX-startup (1).iml
/W15-1/JSF31KochFractalFX-startup.iml
/W15-1/Application.iml
/W15-1/manifest.mf
/.idea
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
